[Desktop Entry]
Type=Application
Name=HyLauncher
Comment=Unofficial Hytale Launcher for free to play gamers
Exec=/usr/bin/HyLauncher
Icon=HyLauncher
Categories=Game;
Terminal=false
StartupNotify=true
